<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
</head>
    <body>
        <header>
            <%- include('./partials/header') %>
        </header>

        <br><br><br><br>

   <form class="create-form" action="/product/create" method= "POST" enctype="multipart/form-data">
       <h2>Crear Producto</h2>
    
        <div>
            <br>
            <label>Titulo</label>
            <br>
            <input type="text" name="titulo" id="nombre" required="">
        </div>

        <div>
            <br>
            <label>Autor</label>
            <br>
            <input type="text" name="autor" id="autor" required="">
        </div>
        
        <div>
            <br>
            <label>Editorial</label>
            <br>
            <input type="text" name="editorial" id="editorial" required="">
        </div>

        <div>
            <br>
            <label>Reseña</label>
            <br>
            <input type="text" name="resenia" id="resenia" required="">
        </div>
        <div>
            <label for="">Género: </label>
            <select name="genero">
                <% for (let i = 0; i < generos.length; i++) {%>
                    <option value="<%=generos[i].id%>">
                        <%=generos[i].nombre%>
                    </option>
                <% } %>
            </select>
        </div>
        <div>
            <br>
            <ul>
              <li><label>Detalle</label>
                 <ol>
                    <br>
                    <label>Número de páginas</label>
                    <br>
                    <input type="text" name="paginas" id="paginas" required="">
                    <br>
                    <label>Peso</label>
                    <br>
                    <input type="text" name="peso" id="peso" required="">
                    <br>
                    <div>
                        <label for="">Formato: </label>
                        <select name="formato">
                            <% for (let i = 0; i < formatos.length; i++) {%>
                                <option value="<%=formatos[i].id%>">
                                    <%=formatos[i].nombre%>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <br>
                    <label>Edición</label>
                    <br>
                    <input type="text" name="edicion" id="edicion" required="">
                    <br>
                    <div>
                        <label for="">Idioma: </label>
                        <select name="idioma">
                            <% for (let i = 0; i < idiomas.length; i++) {%>
                                <option value="<%=idiomas[i].id%>">
                                    <%=idiomas[i].nombre%>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="">Medio: </label>
                        <select name="medio">
                            <% for (let i = 0; i < medios.length; i++) {%>
                                <option value="<%=medios[i].id%>">
                                    <%=medios[i].nombre%>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <br>
                    <label>ISBN</label>
                    <br>
                    <input type="text" name="isbn" id="isbn" required="">
                    <br>
                 </ol>
              </li>
           </ul>
        </div>

        <div>
            <br>
            <label>Precio</label>
            <br>
            <input type="number" name="preciounitario" id="precio" required="">
        </div>
        <div>
            <br>
            <label for="descuento">Oferta</label>
            <br>
            <select name="descuento" id="descuento" class="form-input">
                <option value=" "></option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
                
        </div>
        <div>
            <br>
            <label for="crowfounding">Crowfounding</label>
            <br>
            <select name="crowfounding" id="crowfounding" class="form-input">
                <option value=" "></option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
                
        </div>
        <div>
            <br>
            <label for="bestseller">Best Seller</label>
            <br>
            <select name="bestseller" id="bestSeller" class="form-input">
                <option value=" "></option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
                
        </div>
        <div>
            <label for="cantidad">Cantidad: </label>
            <input type="number" name="cantidad">
        </div>
        <div>
            <br>
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" id="imagen" name="imagen" multiple>
        </div>

        <div>
            <br>
            <button type="submit" value="Guardar y volver al Home" class="boton-personalizado">Guardar</button>
        </div>
    </form>
    <footer>
        <%- include('./partials/footer') %>
        
    </footer>
    
 </body>
</html>
