<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <div class="contenedor">
                <img class="logo" src="/images/isologomoradosmall.png" alt="gutenberg logo">
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a class="active" href="/">Inicio</a>
                    <a class="nav-link active" aria-current="page" href="/profile">Perfil</a>
                    <a href="/product/carrito-compras">Carrito de compras</a>
                    <a href="/product/detalle-producto">Detalle producto</a>
                    <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
                    <a class="nav-link active" aria-current="page" href="/user/registro">Registro</a>
                    <!--a href="#">Géneros</a-->
                    <a href="/ofertas">Ofertas</a>
                    <a href="/product">Listado de Productos</a>
                    <!---- <a href="#">Crowfounding</a> Se comenta para poder visualizar todo el menu hambuguesa  (vista administrador)-->
                    <!----<a href="/product/detalle-producto">Detalle producto</a>-->
                    <a href="/product/create">Crear Productos</a>
                    <form class="create-logout" action="/user/logout" method="post">
                        <button type="submit">Cerrar Sesion</button>
                        <br>
                    </form>
                    <div>
                        <p> Sos administrador/a </p>
                    </div>
    
                </nav>
            </div>
            <div class="lowerbar">
                <form>
                    <input class="searchbox" type="text" placeholder="Buscar">
                    <button type="submit" class="fa fa-search"></button>
                </form>
            </div>
        </header>
        <div class="sieteMaridos">
            <img src="/images/<%= libro.imagen %>">
            <P>YYYYY</P>
        </div>
        <div class= "titulo">
            <h2>
                Título: <%=libro.titulo%>
            </h2> 
        </div>
        <span class="autor" >Autor:</span><span  style="color: black"><%= libro.autores.nombres + " " + libro.autores.apellidos  %></span>
        <span class= "editorial">Editorial:</span><span style="color: black"><%= libro.editorial %></span> 
        
        <div class="compra">
            <div class="precio">
                <h2>AR$ <%= libro.precio %></h2>
           </div>
           <div class="agregarProducto">
                <img class="cartmas" width= "80" src="/images/cartmas.svg"> <h2>AGREGAR AL CARRITO</h2>
           </div>
           <div class="envio">
                <img class="truck" width= "50" src="/images/bx_bxs-truck.svg"><h2>Costos de envío</h2>
           </div>
           <div class="metodos">
                <img class="check" width= "50" src="/images/fa-solid_money-check-alt.svg"> <h2>Métodos de pago</h2>
           </div>
        </div>
    
        <div class="resenia">
            <span class="res" style="color: black">Reseña del libro</span>
            <span  class= "ress"style="color:#f68c5f" > <%= libro.titulo %></span>
            <div class="textoRes">
                <p>
                    <%= libro.resenia %> 
                </p>
            </div>
    
            <div class="detalle">
                <span class="deta" style="color: black">Detalles de</span>
                <span class="au" style="color:#f68c5f"><%= libro.titulo %></span>
            </div>
    
            <div class="descripcion">
                <ul style="list-style: none;">
                    <li>Número de páginas:<%= libro.paginas %></li>
                    <li>Género: <%=libro.genero%></li>
                    <li>Peso:<%= libro.peso %></li>
                    
                    <li>Formato:<%= libro.formato %></li>
                     
                    <li>Edición:<%= libro.edicion %></li>
                    
                    <li>Idioma:<%= libro.idioma %></li>
                    
                    <li>ISBN:<%= libro.isbn %></li>
                </ul>
           </div>    
        </div>

        <a href="/product/editar/<%=libro.id%>">
            <button>Editar</button>
        </a>

        <form action="/product/borrar/<%=libro.id%>" method="POST">
            <button type="Submit">Eliminar</button>
        </form>

        <footer>
            <%- include('./partials/footer') %>
        </footer>
        
    </body>
