<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <%- include('./partials/header') %>
        </header>
   
        <div class="book_card" id="bright">
            <div class="info_section">
              <div class="book_header">
                <img class="bookimg" src="/images/<%= libro.imagen %>"/>
                <h1><%= libro.titulo %></h1>
                <h4><%= libro.autores.nombres + " " + libro.autores.apellidos  %></h4>
                <span class="editorial"><%= libro.editorial %></span>
                <p class="pages"><%= libro.paginas %> páginas</p>
              </div>
              <div class="resenia">
                <p class="text">
                  <%= libro.resenia %>
                </p>
              </div>
              <div class="subdetails">
                <ul>
                  <li><i class="material-icons"><%= libro.formato %></i></li>
                  <li><i class="material-icons">ISBN<%= libro.isbn %></i></li>
                  <li><i class="material-icons"><%= libro.edicion %></i></li>
                  <li><i class="material-icons"><%= libro.peso %> grs.</i></li>
                  <li><img class="material-icons" src="/images/cartmas.svg"></li>
                  <li><img class="material-icons" src="/images/bx_bxs-truck.svg"></li>
                  <li><img class="material-icons" src="/images/fa-solid_money-check-alt.svg"></li>
                </ul>
              </div>
            </div>
            <div class="backimg coverimg">
              <img class="backimg coverimg" src="/images/bookwp.jpg"/>
            </div>
          </div>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
        
    </body>
