<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <section class="title">
        <h2>EDICION DE PASSWORD</h2>
    </section>

    <form class="create-form" action="/user/edit/<%= usuarios.id %>?_method=PATCH" method="POST">

        <div>
            <br>
            <label>Email</label>
            <textarea name="email" id="email" class="form-input"><%= usuarios.email %></textarea>
        </div>

        <div>
            <br>
            <label>Password</label>
            <textarea name="password" id="password" class="form-input"><%= usuarios.password %></textarea>
            <br>
        </div>

        <div>
            <br>
            <button type="submit" value="Guardar y volver" class="boton-personalizado">Guardar Cambios</button>
        </div>

        <br>
        <button type="submit" class="boton-personalizado"><a href="/user/delete/<%=usuarios.id%>">Eliminar
                perfil</a></button>
    </form>
    <br>

    </form>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>