<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>

</head>

<body>

    <header>
        <%- include('./partials/header') %>
    </header>
    
    <br><br><br><br><br><br><br>
    <form class="create-form" action="/product/editar/<%=libro.id%>" method="POST">

        <div>
            <br>
            <label>Titulo:</label>
            <br>
            <input type="text" name="titulo" id="nombre" value="<%=libro.titulo%>">
        </div>


        <div>
            <br>
            <label for="">Autor: </label>
            <select name="autor">
                <% for (let i=0; i < autores.length; i++) {%>
                    <% if (autores[i].id==libro.autores_id) { %>
                        <option value="<%=autores[i].id%>" selected>
                            <%=autores[i].nombres + " " + autores[i].apellidos%>
                        </option>
                        <% } else { %>
                            <option value="<%=autores[i].id%>">
                                <%=autores[i].nombres%>
                            </option>
                            <% } %>
                                <% } %>
            </select>
        </div>
        
        <div>
            <br>
            <label>Editorial:</label>
            <br>
            <input type="text" name="editorial" value="<%=libro.editorial%>">
        </div>

        <div>
            <br>
            <label>Reseña:</label>
            <br>
            <input type="text" name="resenia" value="<%=libro.resenia%>">
        </div>
        
        <div>
            <br>
            <ul>
              <li><label><b>Detalle</b></label>
                 <ol>
                    <br>
                    <label>Número de páginas:</label>
                    <br>
                    <input type="number" name="paginas" value="<%=libro.paginas%>">
                    <br><br>
                    <label>Peso:</label>
                    <br>
                    <input type="number" name="peso" value="<%=libro.peso%>">
                    <br>
                    <div>
                        <br>
                        <label for="">Formato: </label>
                        <select name="formato">
                            <% for (let i=0; i < formatos.length; i++) {%>
                                <% if (formatos[i].id==libro.formatos_id) { %>
                                    <option value="<%=formatos[i].id%>" selected>
                                        <%=formatos[i].nombre%>
                                    </option>
                                    <% } else { %>
                                        <option value="<%=formatos[i].id%>">
                                            <%=formatos[i].nombre%>
                                        </option>
                                        <% } %>
                                            <% } %>
                        </select>
                    </div>
                    <br>
                    <label>Edición:</label>
                    <br>
                    <input type="number" name="edicion" value="<%=libro.edicion%>">
                    <br><br>
                    <div>
                        <label for="">Idioma: </label>
                        <select name="idioma">
                            <% for (let i=0; i < idiomas.length; i++) {%>
                                <% if (idiomas[i].id==libro.idiomas_id) { %>
                                    <option value="<%=idiomas[i].id%>" selected>
                                        <%=idiomas[i].nombre%>
                                    </option>
                                <% } else { %>
                                    <option value="<%=idiomas[i].id%>">
                                        <%=idiomas[i].nombre%>
                                    </option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <br>
                        <label for="">Medio: </label>
                        <select name="medio">
                            <% for (let i=0; i < medios.length; i++) {%>
                                <% if (medios[i].id==libro.medios_id) { %>
                                    <option value="<%=medios[i].id%>" selected>
                                        <%=medios[i].nombre%>
                                    </option>
                                    <% } else { %>
                                        <option value="<%=medios[i].id%>">
                                            <%=medios[i].nombre%>
                                        </option>
                                        <% } %>
                                            <% } %>
                        </select>
                    </div>
                    <br>
                    <label>ISBN</label>
                    <br>
                    <input type="number" name="isbn" value="<%=libro.isbn%>">
                    <br>
                 </ol>
              </li>
           </ul>
        </div>

        <div>
            <br>
            <label>Precio:</label>
            <br>
            <input type="number" name="preciounitario" value="<%=libro.precio_unitario%>">
        </div>
        <div>
            <br>
            <label for="descuento">Oferta:</label>
            <select name="descuento" id="descuento" class="form-input">
                <option value="1" <%= libro.descuento == true? 'selected' : '' %> >Si</option>
                <option value="0" <%= libro.descuento == false? 'selected' : '' %> >No</option>
            </select>
                
            <div>
                <br>
                <label for="">Género: </label>
                <select name="genero">
                    <% for (let i=0; i < generos.length; i++) {%>
                        <% if (generos[i].id==libro.generos_id) { %>
                            <option value="<%=generos[i].id%>" selected>
                                <%=generos[i].nombre%>
                            </option>
                            <% } else { %>
                                <option value="<%=generos[i].id%>">
                                    <%=generos[i].nombre%>
                                </option>
                                <% } %>
                                    <% } %>
                </select>
            </div>

            <div>
            <br>
                
        </div>
        <div>
            <br>
            <label for="bestseller">Best Seller:</label>
            <select name="bestseller" id="bestSeller" class="form-input">
                <option value="1" <%= libro.bestSeller == true? 'selected' : '' %> >Si</option>
                <option value="0" <%= libro.bestSeller == false? 'selected' : '' %> >No</option>
            </select>
                
        </div>
        <div>
            <br>
            <label for="cantidad">Cantidad: </label>
            <input type="number" name="cantidad" value="<%=libro.cantidad%>">
        </div>
        <br>
        <button type="submit" class="boton-personalizado">Actualizar</button>
    </form>
    
    <footer>
        <%- include('./partials/footer') %>

    </footer>

</body>

</html>