<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <form class="create-form" action="/product/edit/<%= producto.id %>?_method=PUT" method="POST">
        <h2>Editar Producto</h2>

        <div>
            <br>
            <label>Titulo</label>
            <textarea name="titulo" id="titulo" class="form-input"><%= producto.nombre %></textarea>
            <br>  
        </div>

        <div>
            <br>
            <label>Autor</label>
            <textarea name="autor" id="autor" class="form-input"><%= producto.autor %></textarea>
            <br>
        
        </div>
    
        <div>
            <br>
            <label>Editorial</label>
            <textarea name="editorial" id="editorial" class="form-input"><%= producto.editorial %></textarea>
            <br>
        </div>

        <div>
            <br>
            <label>Reseña</label>
            <textarea name="Reseña" id="Reseña" class="form-input"><%= producto.resenia %></textarea>
            <br>
        </div>

        <div>
          <label>Detalle</label>
                <br>
                <label>Número de páginas</label>
                <textarea name="Reseña" id="Reseña" class="form-input"><%= producto.paginas%></textarea>

                <br>
                <label>Peso</label>
                <textarea name="Reseña" id="Reseña" class="form-input"><%= producto.peso %></textarea>

                <br>
                <label>Formato</label>
                <textarea name="Reseña" id="Reseña" class="form-input"><%= producto.formato %></textarea>
               
                <br>
                <label>Edición</label>
                <textarea name="edicion" id="edicion" class="form-input"><%= producto.edicion %></textarea>
                
                <br>
                <label>Idioma</label>
                <textarea name="idioma" id="idioma" class="form-input"><%= producto.idioma %></textarea>
               
                <br>
                <label>ISBN</label>
                <textarea name="isbn" id="isbn" class="form-input"><%= producto.isbn %></textarea>
            
        </div>

        <div>
            <br>
            <label>Precio</label>
            <textarea name="precio" id="precio" class="form-input"><%= producto.precio %></textarea>
            <br>
        </div>

        <div>
            <br>
            <label>Oferta</label>
            <textarea name="oferta" id="oferta" class="form-input"><%= producto.descuento %></textarea>
            <br>
        
        </div>

        <div>
            <br>
            <label>Crowfounding</label>
            <textarea name="crowfounding" id="crowfounding" class="form-input"><%= producto.crowfounding %></textarea>
            <br>
        <!----<select name="oferta" id="oferta">
                <option value=" "></option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>-->
                
        </div>

        <div>
            <br>
            <label>Best Seller</label>
            <textarea name="bestSeller" id="bestSeller" class="form-input"><%= producto.bestSeller%></textarea>
            <br>
        <!--- <select name="oferta" id="oferta">
                <option value=" "></option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>-->
                
        </div>

        <div>
            <div>
                <br>
                <button type="submit" value="Guardar y volver al Home" class="boton-personalizado"><a href="/">Guardar Cambios</a></button>
            </div>

            <div>
                <br>
                <button type="delete" value="Borrar" class="boton-personalizado"><a href="/">Eliminar Producto</a></button>
            </div>
        </div>
</form>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>
</html>