<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %>
    <body>
        <header>
            <%- include('./partials/header') %>
        </header>
        <section class="title">
            <h2>LO MÁS VENDIDO EN EL MES</h2>
        </section>   
        <section class="books">
                    <div class="container">
                        <% for (libro of libros){ %>
                            <article>
                                <a href="/product/detalle-producto/<%=libro.id %>">
                                <img src="/images/<%=libro.imagen %>" alt=""><br>
                                <h3><%= libro.titulo %></h3>
                                <h4> <%= libro.autores.nombres + " " + libro.autores.apellidos %></h4>
                                <h5>Libro</h5>
                                <h5>AR$ <%= libro.precio_unitario%></h5>
                                </a>
                            </article>
                            <% } %>
                    </div> 
        </section>
        <section class="title">
            <h2>CROWFOUNDING</h2>
        </section>
        <!-- <section class="books">
            <div class="container">
                <article>
                    <a href="/product/detalle-producto/5">
                    <img src="../images/laVidaInvisible_1.svg" alt=""><br>
                    <h3>LA VIDA INVISIBLE</h3>
                    <h4>V.E. Schwab</h4>
                    <h5>Libro</h5>
                    <h5>AR$ 2.500</h5>
                    </a>
                </article>
                <article>
                    <a href="/product/detalle-producto/6">
                    <img src="../images/todoLoQueNuncaFuimos_1.svg" alt=""><br>
                    <h3>TODO LO QUE NUNCA FUIMOS</h3>
                    <h4>Alice Kellen</h4>
                    <h5>Libro</h5>
                    <h5>AR$ 2.100</h5>
                    </a>
                </article>
            </div>
        </section> -->
        <%- include('./partials/footer') %>
    </body>