<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <%- include('./partials/header') %>
        </header>
        <section class="title">
            <h2>LISTADO DE PRODUCTOS</h2>
        </section>   
        <section class="books">
                    <div class="container">
                        <article>
                        <% for( let i = 0; i < libros.length; i++ ) { %>
                            <a href="/product/detalle-producto/<%= libros[i].id %>">
                            <img src="../images/<%= libros[i].imagen %>" alt=""><br>
                            <h3><%= libros[i].titulo %></h3>
                            <h4><%= libros[i].autores.nombres + " " + libros[i].autores.apellidos  %></h4>
                            <h5>Libro</h5>
                            <h5> $ <%= libros[i].precio_unitario %></h5>
                        </a>
                        <% } %>
                        </article>                   
        </section>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
    </body>