<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <header>
            <div class="contenedor">
                <img class="logo" src="/images/isologomoradosmall.png" alt="gutenberg logo">
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a class="active" href="/">Inicio</a>
                    <a href="/product/create">Crear Productos</a>
                    <a href="/product/listado-productos">Listado de Productos</a>
                    <a href="/product/detalle-producto">Detalle producto</a>
                    <a href="/ofertas">Ofertas</a>
                    <a href="/product/carrito-compras">Carrito de compras</a>
                    <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
                    <a class="nav-link active" aria-current="page" href="/user/registro">Registro</a>
                    <a href="/user/listado-usuarios">Listado de Usuarios</a>
                    <a class="nav-link active" aria-current="page" href="perfil">Perfil</a>
    
                    <form class="create-logout" action="/user/logout" method="post">
                        <button type="submit" class="menu">Cerrar Sesion</button>
                        <br>
                    </form>
                    <div>
                        <p> Sos administrador/a </p>
                    </div>
    
                </nav>
            </div>
            <div class="lowerbar">
                <form>
                    <input class="searchbox" type="text" placeholder="Buscar">
                    <button type="submit" class="fa fa-search"></button>
                </form>
    
            </div>
            </div>
        </header>
        <br><br>
        <section class="title">
            <h2>LISTADO DE PRODUCTOS</h2>
        </section> 
          
        <section class="books">
                    <div class="container">
                        <article>
                        <% for( let i = 0; i < libros.length; i++ ) { %>
                            <a href="/product/detalle-producto/<%= libros[i].id %>">
                            <img src="../images/<%= libros[i].imagen %>" alt=""><br>
                            <h3><%= libros[i].titulo %></h3>
                            <h4><%= libros[i].autores_id + " " + libros[i].autores_id  %></h4>
                            <h5>Libro</h5>
                            <h5> $ <%= libros[i].precio_unitario %></h5>
                        </a>
                        <% } %>
                        </article>                   
        </section>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
    </body>