<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <section class="title">
        <h2>MODIFICAR CONTRASEÑA</h2>
    </section>

    <form class="create-form" action="/user/create" enctype="multipart/form-data" method="POST">
      
        <div>
            <br>
            <label>Confirmar Email</label>
            <input type="email" name="email" id="email">
            <br>
            <% if(locals.errors && locals.errors.email){ %>
                <span style="color: red">
                    <%= errors.email.msg %>
                </span>
                <% } %>
        </div>

        <div>
            <br>
            <label>Password</label>
            <input type="password" name="password" id="password">
            <br>
            <% if(locals.errors && locals.errors.password){ %>
                <span style="color: red">
                    <%= errors.password.msg %>
                </span>
                <% } %>
        </div>


        <div>
            <br>
            <button type="submit" value="Guardar y volver al Home" class="boton-personalizado">Guardar</button>
        </div>
    </form>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>